@use '../abstracts/' as *;
@use './navbar.scss';
@use './banner.scss';


.header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    img {
        width: 137px;
        height: 137px;
        margin-top: 25px;
        margin-left: 70px;        
   }
}