*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgb(251, 246, 246);
}

.App {
    text-align: center;
    
    .container {
        max-width: 960px;
        margin: 75px auto;
        padding: 0 20px;
    }
}